.feed{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: var(--primary);
  color: var(--secondary);
}

.dashboard-nav{
  grid-column: 3/4;
  grid-row: 1/2;
}

.feed__profile{
  display: none;
}

.dashboard-content{
  grid-column: 1/2;
  grid-row: 1/2;
}

@media (min-width: 500px) {
  .feed{
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr 1fr;
  }

  .feed__profile{
    grid-column: 1/2;
    display: flex;
  }
}
