:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 100%;

  --primary: #fff2e4;
  --primary-shadow: #a9a19854;
  --primary-shadow-light: #ded3c754;
  --secondary: #554f47;
  --secondary-light: #b1a89e;
  --white: #ffffff;
  --white-highlight: #dcdcdc;
  --white-hover: #a9a19854;
  --highlight: #61a542;
  --highlight-hover: #538e38;
  --danger: #c01717;
  --border-subtle: #e0e0e0;
  --footer: #ded3c7;
  --background: #3f3a34;

  --font-light: var(--primary);
  --font-dark: var(--secondary);

  color-scheme: light;
  color: var(--font-light);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div{
  box-sizing: border-box;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--font-light) ;
}

a:hover {
  color: var(--font-light);
}

button:hover{
  cursor: pointer;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  background-color: var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.font-highlight{
  color: var(--highlight);
}
